<nav id="menu">
  <i class="icon fa fa-bars fa-2x"></i>
  <ul>
    <li>Albums</li>
    <li>About</li>
    <li>Contact</li>
    <li>
    <%= link_to 'Admin', admin_root_path %>
    </li>
  </ul>
</nav>
