<h1>This is the page to display photos of a particular album</h1>
<p>@album is the active record object for an album</p>
<p>@photos is an array of active record objects with all the album's pictures</p> 
<p>@images is an array of actual image files with all the album's pictures</p> 
